@import '../../scss/variables';

.content {
  min-height: 40vh;
  width: 90vw;
  max-width: 1024px;
  display: flex;
  position: fixed;
  top: 30vh;
  left: 0;
  padding: 40px;
  background-color: $color-gray-dark;
  animation: enter 1s ease-in-out;
  border-radius: 0 10px 10px 0;
  z-index: 20;
  .title {
    flex: 0 0 5vw;
    padding-right: 30px;
  }
  .links {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    div {
      display: flex;
      flex-direction: row;
      svg {
        padding: 10px;
      }
    }
  }
  .close {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 10px 20px;
  }
}

@keyframes enter {
  0% {
    transform: translateX(-70vw);
  }
  100% {
    transform: translateX(0);
  }
}
