@import '../../scss/variables';

.wrapper {
  position: fixed;
  display: flex;
  top: 5%;
  right: -250px;
  width: 10vw;
  min-width: 120px;
  height: 140px;
  max-width: 180px;
  // transform: scale(0.3);
  .satellite-holder {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 100%;
    img {
      width: 100%;
      height: auto;
    }
  }
  .network-bubble {
    position: absolute;
    top: 0;
    right: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 0;
    border-radius: 100% 100% 100% 0;
    background-color: $color-white;
    transform: rotate(-60deg);
    img {
      opacity: 0;
      transform: rotate(60deg);
      width: 30px;
      height: auto;
    }
  }
}
