.satellite {
  position: relative;
  width: 100%;
  height: auto;
  .base {
    width: 100%;
    height: auto;
  }
  .colors {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-name: flash;
    animation-timing-function: linear;
  }
}

@keyframes flash {
  0%,
  100% {
    opacity: 0;
  }
  30%,
  70% {
    opacity: 1;
  }
}
