@import "../scss/variables";

$circles: (
  top: $color-gray,
  right: $color-yellow,
  bottom: $color-red,
  left: $color-gray-dark
);

$loader-size: 50px;
$dot-radius: $loader-size/3;
$animation-length: 2s;

%circle{
    width: $dot-radius;
    height: $dot-radius;
    border-radius: 100%;
    display: block;
   position:absolute;
  will-change: transform;
}


@each $circle, $bgcolor in $circles {
  .circle-#{$circle} {
    @extend %circle;
    background: $bgcolor;
  }
};



.loader{
  
  .circle-wrapper{
    width: $loader-size;
    height: $loader-size;
    display:block;
    // border: 1px solid red;
    position:relative;
    will-change: transform;
    animation: rotation $animation-length infinite;
  }
  .circle-top{
    top:0;
    left: calc(50% - #{$dot-radius/2});
    animation: float-top $animation-length linear infinite
  }
  .circle-right{
    top:calc(50% - #{$dot-radius/2});
    right: 0;
    animation: float-right $animation-length linear infinite;
  }
  .circle-bottom{
    bottom:0;
    left:calc(50% - #{$dot-radius/2});
    animation: float-bottom $animation-length linear infinite;
  }
  .circle-left{
    top:calc(50% - #{$dot-radius/2});
    left: 0;
    animation: float-left $animation-length linear infinite;
  }
}

@keyframes float-top {
  0% {transform: scale(1) translateY(0) translateX(0) }
  12.5%{transform: scale(1.2, 1.0) translateY(-2px) translateX(-3px)}
  25%{transform: scale(1.4) translateY(-5px) translateX(0)}
  37.5%{transform: scale(1) translateY(-5px) translateX(-2px)}
  50%{ }
  62.5%{}
  75%{transform: scale(1) translateY(-5px)}
  //  end drift 
  80%{transform: scale(.5) translate(0,0) }
  
  100%{}
}

@keyframes float-right {
  0% {transform: scale(1) translateY(0) translateX(0) }
  12.5%{transform: scale(1) translateY(0) translateX(0)}
  25%{transform: scale(1.2,1.4) translateY(1px) translateX(2px)}
  37.5%{transform: scale(1.1) translateY(-1px) translateX(10px)}
  50%{ transform: scale(1) translateY(0) translateX(5px)}
  62.5%{}
  75%{transform: scale(1) translateY(0) translateX(5px)}
  //  end drift 
  80%{transform: scale(.5) translate(0,0) }
  
  100%{}
}

@keyframes float-bottom {
   0% {transform: scale(1) translateY(0) translateX(0) }
  12.5%{}
  25%{transform: scale(1) translateY(0) translateX(0)}
  37.5%{}
  50%{ transform: scale(1.2,1.5) translateY(3px) translateX(0)}
  62.5%{transform: scale(1) translateY(3px) translateX(0)}
  75%{transform: scale(1) translateY(3px) translateX(0)}
  //  end drift 
  80%{transform: scale(.5) translate(0,0) }
  
  100%{}
}

@keyframes float-left {
   0% {transform: scale(1) translateY(0) translateX(0) }
  12.5%{}
  25%{}
  37.5%{}
  45%{ transform: scale(1) translateY(0) translateX(0) }
  55%{transform: scale(1.6, 1.4) translateY(3px) translateX(-10px)}
  70%{transform: scale(1) translateY(3px) translateX(-3px)}
  75%{transform: scale(1) translateY(3px) translateX(-3px)}
  //  end drift 
  80%{transform: scale(.5) translate(0,0) }
  
  100%{}
}

@keyframes rotation{
  0%{transform: rotate(0deg)}
  85% {transform: rotate(90deg)};
  100%{transform: rotate(360deg)}
}