.ufo-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;

  .rocket-holder {
    position: relative;
    left: -5vw;
    width: 2.5vw;
    height: 7vw;
    .rocket {
      z-index: 2;
      top: 0;
      position: absolute;
      height: auto;
      width: 100%;
    }
    .flame {
      position: absolute;
      transform: rotate(180deg);
      top: 4vw;
      left: calc(0.4vw - 2px);
      z-index: 1;
      width: 1.8vw;
      height: auto;
    }
  }
  .type1 {
    height: 7vw;

    .flame {
      top: 3vw;
    }
  }

  .type2 {
    height: 7vw;

    .flame {
      top: 3.8vw;
    }
  }
}
