.ufo-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;

  .rocket-holder {
    position: relative;
    width: 50px;
    height: 100px;
    // transform: rotate(90deg);
    .rocket {
      z-index: 2;
      top: 0;

      position: absolute;
      height: auto;
      width: 100%;
    }
    .flame {
      position: absolute;
      transform: rotate(180deg);
      top: 60px;
      left: 7px;
      z-index: 1;
      width: 35px;
      height: auto;
    }
  }
  .type1 {
    height: 100px;

    .flame {
      top: 55px;
    }
  }

  .type2 {
    height: 115px;

    .flame {
      top: 75px;
    }
  }
}
