@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat"),
    url("./assets/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Bungee";
  font-style: normal;
  font-weight: 400;
  src: local("Bungee"), local("Bungee"),
    url("./assets/fonts/Bungee/Bungee-Regular.ttf") format("truetype");
}
