@import '../scss/variables';

.launch-button {
  display: flex;
  cursor: pointer;
  height: 80px;
  width: 280px;
  border-radius: 70px;
  background-color: $color-red;
  position: relative;
  align-items: center;
  justify-content: center;
}

.launch-text {
  font-family: $font-family-cursive;
  margin-right: 20px;
  font-size: 2em;
}

.icon-holder {
  position: relative;
  width: 30px;
  height: 50px;
  .rocket {
    transform: rotate(45deg);
    z-index: 2;
    top: 0;
    left: 0;
    position: absolute;
    height: 50px;
    width: auto;
  }
  .rocket + .rocket {
    opacity: 0;
  }
}

.flame {
  position: relative;
  top: 55px;
  left: -16px;
  z-index: 1;
  width: 60px;
  height: 0px;
}
