.title-wrapper {
  display: flex;
}

.float-in {
  animation-name: float-in;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  will-change: transform;
  opacity: 0;
}

@keyframes float-in {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
