@import '../scss/variables';

.launch-button {
  display: flex;
  cursor: pointer;
  height: 80px;
  width: 280px;
  border-radius: 70px;
  background-color: $color-red;
  position: relative;
  align-items: center;
  justify-content: center;
}

.launch-text {
  font-family: $font-family-cursive;
  margin-right: 20px;
  font-size: 2em;
}

.icon-holder {
  position: relative;
  width: 50px;
  height: 50px;
  svg {
    top: 0;
    left: 0;
    position: absolute;
  }
  svg + svg {
    opacity: 0;
  }
}
